@model ProjectViewModel

@{
  ViewData["Title"] = "Manage your Project list";
}

<div class=panel panel-default todo-panel>
  <div class="panel-heading">@ViewData["Title"]
    <table class="table table-hover">
      <thead>
        <tr>
          <td>%#x2714</td>
          <td>Project</td>
          <td>Deadline</td>
        </tr>
      </thead>

      @{ if (Model.isEmpty) {
        <tr>
          <td>
            model was emtpry
          </td>
        </tr>
      }
      else {
        foreach (var item in Model.Projects)
        {
          <tr>
            <td>
              <form asp-action="DeleteProject" method="POST">
                <input type="checkbox" class="project-checkbox">
                <input type="hidden" name="id" value="@item.ProjectId">
              </form>
            </td>
            <td>@item.Title</td>
            <td>@item.Deadline</td>
          </tr>
        }
        }
      }
    </table>
  </div>
  <div class="panel-heading add-item-form">
    @await Html.PartialAsync("SubmitProjectPartial", new Project())
  </div>
</div>